<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.Plugins"
    version="1.0.0">

    <name>NFCTag eCard Plugin</name>
  <author>Michael Bowman</author>

  <description>
    This plugin allows you to read information of credit card with NFCTag chip
  </description>

  <license>MIT</license>

  <js-module src="www/plugin.js" name="NFCPlugin">
      <clobbers target="org.apache.cordova.Plugins" />
  </js-module>

  <engines>
      <engine name="cordova" version="&gt;=3.0.0" />
  </engines>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
		  <feature name="NFCPlugin" >
			<param name="android-package" value="org.apache.cordova.Plugins.NFCPlugin"/>
		  </feature>
        </config-file>

        <source-file src="src/android/Provider.java"
                target-dir="src/org/apache/cordova/Plugins" />
        <source-file src="src/android/NFCPlugin.java"
                target-dir="src/org/apache/cordova/Plugins" />
		
		<!-- kludge for 2.9 support -->
        <source-file src="src/android/Dummy.java"
            target-dir="src/org/apache/cordova/api"/>

        <source-file src="src/android/library-2.0.0.jar"
                target-dir="libs" />
        <source-file src="src/android/slf4j-api-1.7.7.jar"
                target-dir="libs" />
        <source-file src="src/android/bit-lib4j-1.4.10.jar"
                target-dir="libs" />
        <source-file src="src/android/common-lang3.jar"
                target-dir="libs" />
		<config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.NFC"/>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-feature android:name="android.hardware.nfc" android:required="true"/>
			<uses-sdk  android:minSdkVersion="12"  android:targetSdkVersion="19" />
        </config-file>

       </platform>

</plugin>
